body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
}

a {
  text-align: center;
  color: white;
}
footer {
  margin: auto;
  text-align: center;
  background-color: #1c4e5e;
}
header {
  text-align: center;
  background-color: #1c4e5e;
  color: white;
}
form {
  margin: 2px;
  padding: 3px;
}
form label, form input {
  margin: 2px;
  padding: 3px;
  width: 100%;
}
.about {
  text-align: center;
  background-color: #1c4e5e;
  color: white;
  margin: 2%;
}
.account_disp {
  height: 100%;
  width: auto;
  text-align: center;
  color: white;
  margin: 2%;
  position: absolute;
  top: 0;
  right: 0;
}
.account_disp img {
    display: inline;
}
.container {
  position: relative;
  height: 85vh;
  width: 100%;
}
.container::before {
  height: 100%;
  width: 100%;
  background-color: black;
  background-image: url('../img/node_diagram_example.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}

.card {
  width: 100%;
  padding: 3%;
  background-color: white;
  border-radius: 10px;
  opacity: 0.55;
  color: navy;
  width: 33%;
  text-align: left;
  margin: 2%;
  position: relative;
}
.card::before {
  height: 100%;
  width: 100%;
  background-image: url('http://bafybeiga3tsbwdnpnqdoaefgqeydtu3dillcq455shzdczx3ocew3yfszm.ipfs.localhost:8080/Ens_Eth_Breathe.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}
.card img {
  margin: 6%;
}

.img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.picker {
  background-color: #1c4e5e;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
input[type=text], select, textarea {
  width: 85%; 
  padding: 10px; 
  border: 1px solid #45a049;
  border-radius: 10px;
  box-sizing: border-box;
  margin: auto;
  resize: vertical;
  color: black;
  text-align: right;
}

input[type=submit] {
  width: 85%;
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
input[type=number], select, textarea {
  width: 85%; 
  border-radius: 10px;
  border: 3px solid #45a049;
  text-align: right;
}
input[type=password] {
  width: 85%; 
  border-radius: 10px;
  border: 3px solid #45a049;
  text-align: right;
  margin: auto;

}
input[type=number]::placeholder {
  text-align: right;
  color: #04AA6D;
}
textarea::placeholder {   
  text-align: right;
  color: #04AA6D;
}

.mainViewWindow {
  position: relative;
  overflow-x: scroll;
  height: 100%;
  width: 100%;
}
.defs {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  color: bwhitelack;
  padding: 5px;
  display: block;
}
.def_box {
  background-color: black;
  opacity: 0.8;
  height: 100%;
  border-radius: 10px;
  margin: 2%;
}
.decent_nav {
  color: white;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 1%;
}
.mentor_connect {
  text-align: center;
  position: absolute;
  float: left;
  margin-left: 1%;
  top: 0;
  left:0;
}

.wallet_connect {
  text-align: center;
  position: absolute;
  float: right;
  margin-right: 1%;
  top: 0;
  right: 0;
}